.input-container {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
  }
  
  input {
    width: 100%;
    padding: 0.7rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 10px 0 0 10px;
    
  }
  
  input:focus {
    outline: none;
  }
  
  .update-todo-btn {
    font-family: inherit;
    width: 75px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    background-color: #F8AA4C;
    border: none;
    /* border-right: 1px solid #313642; */
    cursor: pointer;
  }  

  .cancel-btn {
    font-family: inherit;
    width: 75px;
    color: #fff;
    background-color: #715dd6;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }