@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

  * {
  box-sizing: border-box;
}

body {
  background-color: #5b6270;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.app-container {
  border-radius: 10px;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 500px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #313642;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

header {
  text-align: center;
  letter-spacing: 0.1rem;
}

h1 {
  margin: 1rem;
  font-size: 2.3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 480px) {
  .app-container {
    min-height: 100vh;
    border-radius: 0;
  }
}